@use '../variables' as Colors;

.HomeSearch {
  width: 782px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px 0 Colors.$Grey;
  border-radius: 15px;

  &__campusSelector {
    height: 50px;
    width: 100%;
    background: transparent;
    border-bottom: 1px solid Colors.$Light_Grey;
    display: flex;
    align-items: center;
    padding-left: 32px;

    &--item {
      pointer-events: initial;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: Colors.$Dark_Grey;
      width: 80px;
      height: 100%;
      font-size: 16px;
      background: transparent;
      cursor: pointer;

      &.--neu {
        margin-right: 16px;

        &.--checked {
          padding-top: 4px;
          border-bottom: 4px solid Colors.$NEU_Red;
        }
      }

      &.--cps {
        margin-right: 16px;

        &.--checked {
          padding-top: 4px;
          border-bottom: 4px solid Colors.$CPS_Yellow;
        }
      }

      &.--law {
        &.--checked {
          padding-top: 4px;
          border-bottom: 4px solid Colors.$Law_Blue;
        }
      }
    }
  }

  &__searchBar {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    background: transparent;
    padding: 24px 32px;

    @media only screen and (max-width: 830px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    &--dropdown {
      border-radius: 5px 0 0 5px;
      height: 46px;
      background: Colors.$Off_White;
      display: flex;
      align-items: center;
      min-width: max-content;

      @media only screen and (max-width: 830px) {
        background-color: transparent;
        margin: 15px 0;
      }
    }

    &--input {
      border-radius: 0 5px 5px 0;
      height: 46px;
      width: 100%;
      display: flex;

      .searchbar {
        height: 100%;
        width: 100%;
        background: Colors.$Off_White;
        border-top: none;
        border-bottom: none;

        .searchbar__button {
          width: 54px;
        }

        @media only screen and (max-width: 830px) {
          border: 1px solid Colors.$Grey;
        }

        // on small screen, make top bar rounded on both edges
        @media only screen and (min-width: 830px) {
          border-radius: 0 5px 5px 0;

          .searchbar__button {
            border-radius: 0 5px 5px 0;
          }
        }

        &:focus-within {
          box-shadow: none;
        }

        & > input {
          background: Colors.$Off_White;
          font-family: Lato, sans-serif;
          font-size: 17px;

          &::placeholder {
            font-family: Lato, sans-serif;
            color: Colors.$Grey;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 830px) {
    width: 100%;

    &__campusSelector {
      justify-content: center;
      padding-left: 0;
    }

    &__searchBar {
      padding: 24px 12px 0;
    }
  }
}
