@use '../variables' as Colors;

.button {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background: Colors.$White;
  border: 1px solid Colors.$Grey;
  align-items: center;
  padding: 8px 10px;
  width: max-content;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover {
    background: Colors.$Off_White;
  }

  .icon {
    margin-right: 8px;
    height: 13px;
  }

  span {
    display: inline-block;
    vertical-align: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
  }
}
