@use '../variables' as Colors;

.notif-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.notif-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 48px;
  height: 16px;
  background: Colors.$Off_White;
  border-radius: 20px;
  transition: background-color 0.2s ease-in-out;
  margin-left: 12px;

  .notif-switch-button {
    content: '';
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    transition: transform 0.04s ease-out;
    background: Colors.$Off_White;
    box-shadow: 0 0 2px 0 Colors.$Light_Grey;
  }
}

.notif-switch-checkbox:checked + .notif-switch-label {
  background: Colors.$Aqua;

  .notif-switch-button {
    background: Colors.$Aqua;
    transform: translateX(24px);
  }
}

.notifSwitch {
  display: flex;
}

.notifSubscribeButton {
  background: Colors.$Blue;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 4px 8px 4px 8px;
  cursor: pointer;

  & > span {
    font-size: 14px;
    line-height: 17px;
    color: Colors.$White;
  }

  &:focus,
  &:active {
    outline: none;
  }
}

.notifSubscribeButton--checked {
  background: Colors.$Green;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 4px 8px 4px 8px;
  cursor: pointer;

  & > svg {
    margin-right: 4px;
  }

  & > span {
    font-size: 14px;
    line-height: 17px;
    color: Colors.$White;
  }

  &:focus,
  &:active {
    outline: none;
  }
}
