@use '../variables' as Colors;

.WeekdayBoxes {
  display: inline-flex;
  flex-direction: row;
  width: 126px;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  text-align: center;

  &__box {
    display: block;
    width: 18px;
    height: 18px;
    background: Colors.$White;
    color: Colors.$Grey;
    border: 0.5px solid Colors.$Grey;

    &--checked-class {
      display: block;
      width: 18px;
      height: 18px;
      background: Colors.$Light_Blue;
      color: Colors.$Black;
      border: 0.5px solid Colors.$Grey;
    }

    &--checked-final {
      display: block;
      width: 18px;
      height: 18px;
      background: Colors.$Light_Green;
      color: Colors.$Black;
      border: 0.5px solid Colors.$Grey;
    }
  }

  &__box:nth-child(even) {
    border-left: none;
    border-right: none;
  }

  &__box--checked-class:nth-child(even) {
    border-left: none;
    border-right: none;
  }
  &__box--checked-final:nth-child(even) {
    border-left: none;
    border-right: none;
  }
}
