@use '../variables' as Colors;
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');

.four04-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.four04-title-text {
  font-family: Montserrat Alternates;
  font-size: 50px;
  font-weight: 700;
  color: Colors.$NEU_Red;
  margin-bottom: 100px;
}

.four04-return-button {
  margin-top: 50px;
  font-family: Lato;
  font-size: 22px;
  font-weight: 700;
  padding: 20px 40px;
  color: Colors.$NEU_Red;
  border: 1px solid Colors.$NEU_Red;
  border-radius: 28px;
  transition: color, background-color 0.15s linear;
  &:hover {
    background-color: Colors.$NEU_Red;
    color: Colors.$White;
    cursor: pointer;
  }
}
