@use '../variables' as Colors;

.pageContent {
  margin-left: 10.49%;
  margin-top: 150px;
  padding-bottom: 120px;
  width: 80vw;
  color: Colors.$Black;
  &.coreqPageContent {
    margin-top: 0px;
  }

  .backToResults {
    font-size: 18px;
    cursor: pointer;
    color: Colors.$Blue;
    padding: 2px 3px 2px 3px;
    border-radius: 10%;
    width: fit-content;
    margin-bottom: 40px;
    &:hover {
      background-color: Colors.$Blue;
      color: white
    }
  }

  .title {
    height: 155px;
    margin-top: 17px;
    line-height: 48px;
    display: flex;
    align-items: center;

    .titleItems {
      display: flex;
      flex-direction: column;

      .classCode {
        font-size: 40px;
        font-weight: 700;
      }

      .className {
        font-size: 38px;
        font-weight: 400;
      }
    }
  }

  .coreqHeader {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;

    .coreqHeaderCourse {
      font-style: italic;
    }
  }

  .horizontalLine {
    background-color: Colors.$Grey;
    height: 1px;
  }

  .verticalLine {
    border-left: 1px solid Colors.$Grey;
  }

  .flex {
    display: flex;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .justify-space-between {
    justify-content: space-between;
  }

  .classPageLastUpdated {
    font-size: 17px;
    font-style: italic;
    display: flex;
    align-items: center;
  }

  .classPageLastUpdated > a {
    &:hover + .tooltip {
      display: block;
      margin-top: 70px;
      margin-left: -5px;
      background: Colors.$Grey;
      & > div {
        border-color: transparent transparent Colors.$Grey transparent;
        left: 12px;
      }
    }
  }

  .sectionCRN > a {
    &:hover + .tooltip {
      display: block;
      background: Colors.$Blue;
      white-space: nowrap;
      & > div {
        border-color: transparent transparent Colors.$Blue transparent;
      }
    }
  }

  .creditsDisplay {
    text-align: center;

    .creditsNumericDisplay {
      font-size: 36px;
      line-height: 42px;
      font-weight: 400;
    }

    .creditsDescriptionDisplay {
      font-size: 18px;
    }
  }

  .classPageInfoHeader {
    margin-bottom: 10px;
  }

  .classPageBody {
    margin-bottom: 60px;
  }

  .classPageBody,
  .classPageReqsBody {
    margin-top: 60px;

    .classPageHeader {
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 16px;
    }

    .classPageBodyLeft {
      width: 45%;
    }

    .classPageBodyRight {
      width: 45%;
    }

    .headerBodyGroup {
      margin-bottom: 60px;
      p {
        font-size: 16px;
      }
    }

    .lg-text p {
      font-size: 20px;
    }

    .prereqsDisplay {
      ul > li {
        margin-left: 20px;
        line-height: 30px;
      }
    }

    .avgSeatsFilled,
    .avgSeatsAvail,
    .avgNumSections,
    .courseFees {
      width: 50%;
    }

    .emptyCourseFee p,
    .noReqs,
    .noNUPaths {
      color: Colors.$Grey;
    }

    .reqItemsContainer.showScroll {
      height: 130px;
      width: 220px;
      border: 1px Colors.$Off_White solid;
      border-radius: 10px;
      padding: 4px 0px 4px 0px;
      .reqItemsScroll {
        overflow: auto;
        height: 100%;
      }
      .reqItem {
        padding: 7px 7px 7px 10px;
        border-bottom: 1px Colors.$Off_White solid;
      }
    }
  }
  .classPageReqsBody .flex .nupaths,
  .prereqs,
  .coreqs,
  .link,
  .prereqsFor,
  .optPrereqsFor {
    width: 30%;
    a,
    p,
    span {
      font-size: 18px;
      line-height: 30px;
      margin: 0;
    }
  }

  .classPageSections {
    margin-top: 60px;
    margin-bottom: 60px;

    .sectionsNav {
      margin-bottom: 60px;
    }

    .campusNav,
    .termNav {
      font-size: 26px;
      font-weight: 500;
      vertical-align: middle;
    }
    .navArrow {
      padding: 8px;
      cursor: pointer;
      &.disabled {
        cursor: default;
      }
    }

    .sectionsCampusDropdown {
      .divider.text {
        text-decoration: underline;
      }
      .dropdown.icon {
        margin: 0 0 0 12px;
      }
      .sectionsCampusDropdownMenu {
        margin-top: 10px;
      }

      .sectionsCampusOption.item {
        padding: 28px !important;
        span {
          font-size: 22px;
          color: Colors.$Grey;
          margin-top: 8px;
          margin-bottom: 8px;
        }
      }
    }

    .sectionCards .horizontalLine {
      margin: 60px 0px;
    }

    .sectionCard {
      width: 45%;
      font-size: 18px;
      margin-top: 30px;
      margin-bottom: 30px;

      .sectionCardProfs {
        margin-bottom: 14px;
      }

      .sectionCRN {
        margin: 24px 0;
      }

      .courseMeeting {
        margin: 7px 0;
      }

      .seatsAvailable {
        margin: 20px 0;
        &.green {
          color: Colors.$Green;
        }

        &.yellow {
          color: Colors.$CPS_Yellow;
        }

        &.red {
          color: Colors.$NEU_Red;
        }
      }
    }
  }
}
