@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap');

/* Styles for Down Page. */
.cryingHusky {
  width: 75% !important;
  height: 45% !important;
  position: absolute;
  right: -260px;
  bottom: 0px;
  z-index: 100;
}

.huskyDollar {
  width: 75% !important;
  height: 45% !important;
  position: absolute;
  right: -90px;
  bottom: -150px;
  z-index: 100;
}

.down-text-container {
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;

  @media only screen and (min-width: 830px) {
    margin-left: 75px;
    margin-bottom: 200px;
  }
}

.down-title-text {
  font-family: Montserrat Alternates;
  color: #e63946;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 20px;

  @media only screen and (min-width: 830px) {
    font-size: 55px;
    margin-bottom: 30px;
  }
}

.down-sub-title-text {
  font-family: Lato;
  font-size: 20px;
  font-weight: 600;
  color: #2a426b;
  margin-bottom: 20px;
  margin-right: 20px;

  @media only screen and (min-width: 830px) {
    font-size: 25px;
    margin-bottom: 40px;
  }
}

.down-text {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  color: #2a426b;
  width: 85%;
  white-space: pre-line;

  @media only screen and (min-width: 830px) {
    height: 112px;
    width: 45%;
    margin-right: 20px;
  }
}
