@use '../variables' as Colors;
@use '../zIndexes' as Indexes;

$TOPNAV_HEIGHT: 60px;
$SIDEBAR_WIDTH: 268px;

.Results_Header {
  width: 100%;
  height: $TOPNAV_HEIGHT;
  left: 0;
  top: 0;
  z-index: Indexes.$Twelve;
  background: Colors.$White;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: left;
  position: fixed;
  box-shadow: 0 0 10px Colors.$Light_Grey;
  border-bottom: 1px solid Colors.$Light_Grey;

  &-top {
    box-shadow: none;
    border-bottom: 1px solid Colors.$Light_Grey;
  }

  @media only screen and (max-width: 767px) {
    height: 120px;
    background: Colors.$White;
    align-items: unset;
    justify-content: left;
    position: inherit;
    flex-direction: column;
  }
}

.Results_SignIn {
  margin: 0 17px 0 30px;
  margin-left: auto;
  padding: 12px 16px;
  background: Colors.$NEU_Red;
  color: Colors.$White;
  border: 1px solid Colors.$NEU_Red;
  border-radius: 8px;
  font-family: 'Lato';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  cursor: pointer;
  white-space: nowrap;
}

.Results__mobileSearchFilterWrapper {
  @media only screen and (max-width: 767px) {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 12px;
    gap: 1rem;
    align-items: center;
  }

  & > .Results__filterButton {
    overflow: visible;
  }
}

.Results__spacer {
  min-width: 10px;
  flex-basis: 100px;
  flex-shrink: 3;

  @media only screen and (max-width: 767px) {
    flex-basis: 10px;
  }
}

.Results__Logo {
  height: 40px;
  z-index: Indexes.$Five;
  cursor: pointer;
  margin-left: 17px;
  margin-right: 2px;

  &--wrapper {
    line-height: 0;
  }

  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.Results__searchwrapper {
  flex-basis: 538px;
  flex-shrink: 2;

  display: flex;

  @media only screen and (max-width: 767px) {
    margin-right: 18px;
  }
}

.Results_Container {
  padding-top: $TOPNAV_HEIGHT;
  display: flex;

  @media only screen and (max-width: 767px) {
    padding-top: 0;
  }
}

.Results_SidebarWrapper {
  position: fixed;
  width: $SIDEBAR_WIDTH;
  top: $TOPNAV_HEIGHT;
  bottom: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  z-index: Indexes.$Six;

  &::-webkit-scrollbar {
    display: none;
  }

  background-color: Colors.$Off_White;
  padding: 16px 15px 25px 15px;
}

.Results_SidebarSpacer {
  flex-basis: $SIDEBAR_WIDTH;
  flex-shrink: 0;
}

.Results_MainWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Results_Main {
  padding-top: 10px;
  padding-right: 40px;
  padding-left: 40px;
  flex-grow: 1;
  max-width: 1800px;

  @media only screen and (max-width: 1000px) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

// TODO make this a spiner, but need to fix ResultsLoader rerender issue first
.Results_Loading {
  height: 0;
}

.Results_EmptyContainer {
  font-size: 19px;
  padding-top: 150px;
  text-align: center;
  padding-bottom: 100px;
}

.Results_EmptyBottomLine {
  padding-top: 7px;
}

.Results_EmptyText {
  display: inline-block !important;
  padding: 5px !important;
  padding-left: 9px !important;
  padding-right: 9px !important;
  font-size: inherit !important;
}

.Breadcrumb_Container {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin-left: 16px;

  &__dropDownContainer {
    border-radius: 5px 0 0 5px;
    height: 100%;
    display: flex;
    align-items: center;
    min-width: fit-content;
  }

  &__slash {
    font-size: 24px;
    font-weight: initial;
    color: Colors.$Light_Grey;
    margin: auto 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: Colors.$Grey;
  }

  ::-webkit-scrollbar-track {
    background-color: Colors.$Light_Grey;
  }
}

.Notifications_Settings {
  display: flex;
  justify-content: flex-end;
  float: right;
}

.user-menu {
  display: flex;
  flex: 1;
  text-align: right;
  margin: 0 17px 0 30px;
  position: relative;
  justify-content: flex-end;

  &__button {
    display: flex;
    padding: 13px 12px;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    // text
    color: Colors.$NEU9;

    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
  }

  &__icon-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  &__icon {
    cursor: pointer;
  }

  &__dropdown {
    min-width: 185px;
    z-index: Indexes.$Fourteen;
    position: absolute;
    background: Colors.$White;
    border-radius: 8px;
    border: 0.5px solid Colors.$NEU4;
    padding: 8px;

    transform: translateY(calc(100% - 16px));

    white-space: nowrap;
  }

  &__item {
    padding: 8px 0px 8px 12px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;

    &:not(:first-child) {
      border-style: solid;
      border-width: 0px;
      border-top-width: 1px;
      border-color: Colors.$Light_Grey;
    }

    &:hover {
      background-color: Colors.$Secondary_Hover;
    }

    &--text-container {
      display: flex;
      flex-direction: column;
      text-align: left;
      gap: 8px;
    }

    &--text {
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      line-height: 10px;
      font-weight: 600;
      color: Colors.$NEU9;
    }

    &--phone-number {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px;
      border-radius: 8px;
      background: Colors.$NEU2;

      font-family: Lato;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 9px;
      color: Colors.$NEU7;
    }
  }
}

.User_SignOut {
  margin: 0px 10px;
}

.Campus_Selection {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  background: Colors.$White;
  margin-bottom: 25px;
  width: fit-content;
}

.Campus_Button {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  // Text
  color: Colors.$NEU9;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.62px;
}

.Campus_NEU {
  background: Colors.$NEU_Red;
  color: Colors.$White;
}

.Campus_CPS {
  background: Colors.$CPS_Yellow;
  color: Colors.$White;
}

.Campus_LAW {
  background: Colors.$LAW_Blue;
  color: Colors.$White;
}
