@use 'variables' as Colors;
@use 'zIndexes' as Indexes;

.alertBannerContainer {
  z-index: Indexes.$Thirteen;
  top: 0px;
  width: 100%;
}

.alertBanner {
  filter: drop-shadow(3px 1px 4px Colors.$Grey);
  padding: 15px 15px 15px 15px;
  text-align: center;
  font-size: 15px;
  width: 100%;
  display: flex;

  &__parent {
    display: flex;
  }

  //when its a mobile device, turn it to columns.
  &__mobileParent {
    display: flex;
    flex-direction: column;
  }

  &__text {
    flex: 5;
  }

  &__back {
    height: 15px;
    width: 15px;
    float: right;
    margin-right: 30px;
  }

  &__back:hover {
    cursor: pointer;
  }
}

.errorBanner {
  background-color: Colors.$Off_White;
  color: Colors.$NEU_Red;
}
.warningBanner {
  background-color: Colors.$Off_White;
  color: Colors.$CPS_Yellow;
}
.infoBanner {
  background-color: Colors.$Off_White;
  color: Colors.$Navy;
}
