@import 'variables';
//These variables are used for colors in .tsx files. Regular Sass variables don't work!

:export {
  neu_red: $NEU_Red;
  cps_yellow: $CPS_Yellow;
  law_blue: $LAW_Blue;
  navy: $Navy;
  blue: $Blue;
  aqua: $Aqua;
  white: $White;
  off_white: $Off_White;
  black: $Black;
  grey: $Grey;
  dark_grey: $Dark_Grey;
  light_grey: $Light_Grey;
  green: $Green;
  dark_red: $Dark_Red;
  light_red: $Light_Red;
  light_green: $Light_Green;
}
