@use 'variables' as Colors;

.FeedbackModal {
  &__pill {
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 30;
    display: flex;
    align-items: center;
    height: 32px;
    width: 160px;
    border: 1px solid Colors.$Dark_Grey;
    border-radius: 20px;
    background: Colors.$White;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 5px Colors.$Grey;
    }

    &:focus {
      outline: none;
    }
  }

  &__pill > svg {
    position: relative;
    left: 4%;
  }

  &__pill > p {
    position: relative;
    left: 7%;
    width: 110px;
    white-space: nowrap;
    bottom: 22%;
    font-size: 12px;
    user-select: none;
  }

  &__popout {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 31;
    bottom: 7%;
    right: 1.5%;
    width: 224px;
    height: 284px;
    background: Colors.$Off_White;
    box-shadow: 0 4px 6px Colors.$Light_Grey;
    border-radius: 3px;
  }

  &__popoutHeader {
    height: 38px;
    background: Colors.$Navy;
    border-radius: 3px 3px 0 0;
    display: flex;
    align-items: center;
  }

  &__popoutHeader > p {
    color: Colors.$White;
    margin-left: 10px;
    font-size: 12px;
    user-select: none;
  }

  &__popoutSubHeader {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid Colors.$Light_Grey;
  }

  &__popoutSubHeader > p {
    color: Colors.$Black;
    margin-left: 14px;
    width: 180px;
    font-size: 14px;
    line-height: 23px;
    user-select: none;
  }

  &__initial {
    display: flex;
    flex-direction: column;
  }

  &__initialText {
    margin-top: 10px;
    padding-left: 32px;
    margin-left: 12px;
    flex-grow: 1;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    position: relative;
    width: 200px;

    &:hover {
      background: Colors.$Off_White;
    }
  }

  &__initialText > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 16px;
    width: 16px;
  }

  &__initialRadio::after {
    content: '';
    position: absolute;
    display: none;
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: Colors.$Blue;
  }

  &__initialText > input:checked + .FeedbackModal__initialRadio::after {
    display: block;
  }

  &__initialRadio {
    position: absolute;
    top: 4px;
    left: 8px;
    height: 14px;
    width: 14px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid Colors.$Grey;

    &:hover {
      cursor: pointer;
    }
  }

  &__checkBoxes {
    width: 200px;
    margin-left: 12px;
    margin-top: 12px;
  }

  &__checkboxElement {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2px;
    margin-bottom: 5px;
    width: 200px;
    border-radius: 3px;

    &:hover {
      background: Colors.$Off_White;
    }
  }

  &__checkboxText {
    padding-left: 38px;
    flex-grow: 1;
    cursor: pointer;
    user-select: none;
    font-size: 12px;

    &:hover {
      color: Colors.$Black;
    }
  }

  &__checkboxBox {
    display: block;
    position: absolute;
    top: 3px;
    left: 8px;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid Colors.$Black;

    &:hover {
      cursor: pointer;
    }

    &::after {
      /* Styles for the check */
      content: '';
      position: absolute;
      display: none;
      left: 4px;
      top: 1px;
      width: 6px;
      height: 9px;
      border: solid Colors.$White;
      border-radius: 1px;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
      transform: rotate(40deg);
    }
  }

  &__checkboxText > input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 16px;
    width: 16px;
  }

  &__checkboxText > input:checked + .FeedbackModal__checkboxBox {
    background: Colors.$Blue;
    border-color: Colors.$Blue;
  }

  &__checkboxText:hover > input:not(:checked) + .FeedbackModal__checkboxBox {
    background-color: Colors.$Navy;
    border: 1px solid Colors.$Black;
  }

  &__checkboxText > input:checked + .FeedbackModal__checkboxBox::after {
    display: block;
  }

  &__freeSelector {
    margin: 12px 10px;
  }

  &__freeSelector > input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    height: 16px;
    width: 16px;
  }

  &__freeSelectorLeft {
    display: inline-block;
    width: 68px;
    height: 28px;
    text-align: center;
    padding-top: 2px;
    font-size: 11px;
    background: Colors.$White;
    border: 1px solid Colors.$Off_White;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
  }

  &__freeSelectorCenter {
    display: inline-block;
    width: 68px;
    height: 28px;
    text-align: center;
    padding-top: 2px;
    font-size: 11px;
    background: Colors.$White;
    border: 1px solid Colors.$Off_White;
    cursor: pointer;
  }

  &__freeSelectorRight {
    display: inline-block;
    width: 68px;
    height: 28px;
    text-align: center;
    padding-top: 2px;
    font-size: 11px;
    background: Colors.$White;
    border: 1px solid Colors.$Off_White;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }

  &__freeSelector > input:checked + .FeedbackModal__freeSelectorLeft,
  &__freeSelector > input:checked + .FeedbackModal__freeSelectorCenter,
  &__freeSelector > input:checked + .FeedbackModal__freeSelectorRight {
    border: 1px solid Colors.$Blue;
    color: Colors.$Blue;
  }

  &__freeQuery {
    margin: 0 10px;
    width: 204px;
    height: 90px;
    border: 1px solid Colors.$Off_White;
    border-radius: 3px;
    resize: none;
    font-size: 12px;
    line-height: 14px;
    padding: 10px;

    &:focus {
      outline: none;
    }
  }

  &__submit {
    background: Colors.$Blue;
    width: 210px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    left: 7px;
    top: 250px;

    &:focus {
      outline: none;
    }

    &--submitted {
      background: Colors.$Green;
      width: 210px;
      height: 24px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: absolute;
      left: 7px;
      top: 250px;

      &:focus {
        outline: none;
      }
    }
  }

  &__submit--submitted > p {
    color: Colors.$White;
    font-size: 11px;
    text-align: center;
    align-self: center;
    user-select: none;
  }

  &__submit > p {
    color: Colors.$White;
    font-size: 11px;
    text-align: center;
    align-self: center;
    user-select: none;
  }
}
