.react-switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 45px;
  height: 20px;
  background: #d3d3d3;
  border-radius: 36px;
  transition: background-color 0.01s;
  margin-top: 38px;

  .react-switch-button {
    content: '';
    position: relative;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    transition: 0.4s;
    background: #a0a0a0;
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
  }
}

.react-switch-checkbox:checked + .react-switch-label {
  background: #ca9897;

  .react-switch-button {
    background: #ae4543;
    left: 100%;
    transform: translateX(-100%);
  }
}

.toggleFilter {
  display: flex;
  justify-content: space-between;
}

.toggleSwitch {
  display: flex;
}

.RangeFilter {
  &__input {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
  }

  &__slider {
    max-width: calc(100% - 1rem);

    .rc-slider-track {
      background: #e63946;
    }

    .rc-slider-handle {
      width: 18px;
      height: 18px;
      margin-top: -7px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) !important;
      opacity: 1;
      border: none !important;
      border-color: rgba(0, 0, 0, 0);
    }

    .rc-slider-handle-dragging {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
      border: none;
      border-color: rgba(0, 0, 0, 0);
    }

    .rc-slider-dot {
      top: 0.8rem;
      width: 1px;
      height: 0.6rem;
      bottom: initial;
      border: none;
      border-radius: 0;
      background: rgba(136, 136, 136, 0.67);
    }

    .rc-slider-mark {
      top: 2.2rem;
    }

    .rc-slider-mark-text {
      line-height: 1;
      font-size: 0.6rem;
      user-select: none;
    }

    .rc-slider-mark-text-active {
      font-size: 0.6rem;
    }

    .rc-slider-mark-text-active--endpoint {
      font-size: 0.8rem;
    }
  }

  &__title {
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 12px;
    margin-top: 20px;
  }

  &__input-box {
    width: 70px;
    height: 28px;
    border-style: hidden;
    padding-left: 7px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    -moz-appearance: textfield;
  }

  &__range-max {
    margin-left: 10px;
    margin-right: 20px;
  }

  &__apply-input {
    cursor: pointer;
    background: inherit;
    margin: auto;
    text-align: center;
    border: none;
    border-radius: 1px;
  }

  &__apply-input:hover {
    text-decoration: underline;
  }
}
