.FilterPanel {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  grid-row-gap: 25px;
}

.filter__title {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  margin-bottom: 12px;
  margin-top: 36px;
}

.ui.dropdown .menu > .item {
  font-size: 12px;
}
