@use 'variables' as Colors;

.selected-filters {
  display: flex;
  align-items: center;
  padding: 10px 0;

  &__label {
    font-weight: bold;
    margin-right: 7px;
    flex-shrink: 0;
  }

  &__row {
    display: flex;
    margin-bottom: -5px;
    padding: 10px 15px;
    max-width: 75vw;
    margin-left: 5px;
    padding-left: 0;
    padding-bottom: 0;

    // overflow behavior for mobile is a scrollbar (767px is max mobile horizontal width)
    @media (max-width: 767px) {
      overflow-x: scroll;
    }

    // overflow behavior for desktop is stacking (768 is tablet and larger device width)
    @media (min-width: 768px) {
      flex-wrap: wrap;
    }
  }

  &__clear {
    cursor: pointer;
    color: Colors.$NEU_Red;
    padding: 0 10px;
    line-height: 30px;
    background: transparent;
    display: inline-block;
  }

  &__clear:hover {
    text-decoration: underline;
  }
}

/* for clearing filters when there are no results */
.no-results__clear {
  cursor: pointer;
  color: Colors.$NEU_Red;
  padding: 0 5px;
  display: inline;
  line-height: 30px;
}

.no-results__clear:hover {
  text-decoration: underline;
}

.FilterPill {
  $root: &;

  &__icon {
    margin-left: 25px;
    position: relative;

    &::before,
    &::after {
      top: 50%;
      right: 50%;
      position: absolute;
      content: '';
      width: 14px; /* x size */
      height: 1.5px; /* x thickness */
      border-radius: 25px;
      background-color: Colors.$NEU_Red;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__close {
    height: 30px;
    background: Colors.$White;
    white-space: nowrap;
    color: Colors.$Grey;
    border-radius: 7px;
    border: 0.5px solid Colors.$Light_Grey;
    cursor: pointer;
    padding-left: 10px;
    margin-left: 5px;
    margin-bottom: 5px;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: Colors.$NEU_Red;
      border-color: Colors.$NEU_Red;
      color: Colors.$White;
    }

    &:hover .FilterPill__icon::before,
    &:hover .FilterPill__icon::after {
      background-color: Colors.$White;
    }
  }

  &__verbose {
    display: none;

    @media only screen and (min-width: 700px) {
      display: inline;
    }
  }

  &__compact {
    @media only screen and (min-width: 700px) {
      display: none;
    }
  }
}
