@use 'variables' as Colors;

.NotifPill {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: Colors.$White;
  padding: 4px 8px 4px 4px;
  border-radius: 8px;
  margin-top: 5px;
}

.NotifPill__CRN {
  font-family: 'Lato';
  font-size: 12px;
}

.NotifPill__active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;
}
.NotifPill__inactive {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;
}
