@use 'variables' as Colors;

.phone-modal {
  position: relative;

  &__spinner {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: Colors.$White;
    z-index: 99;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    min-width: 340px;
    gap: 1rem;
  }

  &__header {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: Colors.$Navy;
    text-align: center;

    &--verification {
      max-width: 256px;
      color: Colors.$Dark_Grey;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: 'Lato', sans-serif;

    &--buttons {
      min-height: 70px;
    }

    &--links {
      justify-content: space-between;
      padding: 0 32px 32px 32px;
    }
  }

  &__phone-input {
    display: flex;
    width: 100%;

    :after {
      content: '';
      clear: both;
      display: table;
    }

    .PhoneInputCountry,
    .PhoneInputInput {
      float: left;
      display: flex;
      min-height: 100%;
      border: 1px solid Colors.$Off_White;
      background: none;
      padding: 0.5rem;
      margin: 0;
    }

    .PhoneInputCountry {
      border-right: none;
    }

    .PhoneInputCountryIcon {
      background: none !important;
      box-shadow: none !important;
    }

    .PhoneInputCountrySelectArrow {
      color: Colors.$Dark_Grey;
      opacity: 1;
      font-size: 1rem;
      margin-left: 0.5rem;

      // fix for react-phone-number-input
      border-top: 0 solid Colors.$Dark_Grey;
      border-bottom: 1px solid Colors.$Dark_Grey;
      border-left: 0 solid Colors.$Dark_Grey;
      border-right: 1px solid Colors.$Dark_Grey;
    }

    .PhoneInputInput {
      font-family: 'Lato', sans-serif;
      font-size: 1rem;
      outline: inherit;

      &::placeholder {
        color: Colors.$Light_Grey;
      }
    }
  }

  .phone-modal__verification {
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    gap: 0.5rem;

    &-input {
      max-width: 40px;
      max-height: 40px;
      min-width: 40px;
      min-height: 40px;
      text-align: center;
      border: 1px solid Colors.$Off_White;
      border-radius: 4px;
      font-size: 20px;
      line-height: 1;
      background: Colors.$White;

      &::placeholder {
        color: Colors.$Light_Grey;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__input-group {
    display: flex;
    width: 100%;

    button,
    input,
    .phone-modal__input-box {
      float: left;
    }

    button:not(:last-child),
    input:not(:last-child),
    .phone-modal__input-box:not(:last-child) {
      border-right: none;
    }

    :after {
      content: '';
      clear: both;
      display: table;
    }
  }

  &__btn {
    flex: 1;
    height: 100%;
    border: 1px solid Colors.$Off_White;
    border-bottom: none;
    background: none;
    color: Colors.$Light_Grey;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    outline: inherit;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }

    &--primary {
      background: Colors.$Navy;
      color: Colors.$White;
    }
  }

  &__label {
    max-width: 256px;
    font-size: 0.6rem;
    line-height: 1.5;
  }

  &__error {
    font-size: 0.6rem;
    line-height: 1.5;
    color: Colors.$NEU_Red;
    text-align: center;
  }

  &__link {
    position: relative;
    color: Colors.$Navy;
    cursor: pointer;

    &::before {
      content: '';
      height: 1px;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      background: Colors.$Navy;
      display: block;
      transition: all 0.2s ease;
    }

    &:hover {
      opacity: 0.5;

      .tooltip {
        display: block;
        top: 24px;
        left: -10px;
        background: Colors.$Dark_Grey;
      }
    }

    &.--disabled {
      color: Colors.$Off_White !important;
      cursor: default !important;
      opacity: 0.5 !important;
      user-select: none;

      &:hover {
        @extend .--disabled;
      }

      &::before {
        display: none;
      }
    }
  }
}
