.SearchInfoIcon {
  background: transparent;
  &__icon {
    &:hover + .tooltip {
      display: block;
      background: #338ef1;
      white-space: wrap;
      width: 300px;
      z-index: 100000; 
      & > div {
        border-color: transparent transparent #338ef1 transparent;
      }
    }
  }

  pointer-events: initial;
  &:hover {
    cursor: pointer;
  }
  width: 15px !important;
  background: transparent !important;
  margin-top: 10px;
  margin-left: 7px;
}
