@use 'variables' as Colors;

.searchDropdown {
  display: inline-block;
  max-width: 240px;
  color: Colors.$Dark_Grey !important;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  pointer-events: initial;
  min-width: max-content !important;

  & * {
    font-size: 17px;
    font-weight: initial !important;
    border: none !important;
    color: Colors.$Dark_Grey !important;
    line-height: 1.3em;
  }

  & > i {
    line-height: 1.8em !important;
  }

  &--compact {
    flex-basis: 200px;
    flex-shrink: 1;
    height: 60px;
    margin: 0;
    padding: 0 0 0 10px !important;
    text-align: right;
    display: flex !important;
    justify-content: center;
    align-items: center;

    & * {
      font-size: 15px;
      line-height: 20px;

      @media only screen and (min-width: 767px) {
        font-size: 17px;
      }
    }

    & > i {
      position: static !important;
      top: initial !important;
      right: initial !important;
      margin: 0 !important;
    }
  }
}
