@use 'variables' as Colors;

.searchbar {
  height: 40px;
  pointer-events: initial;
  display: flex;
  align-items: stretch;
  border: 1px solid Colors.$Light_Grey;
  border-radius: 10px;
  width: 100%;

  &:focus-within {
    box-shadow: 0 0 5px Colors.$Light_Grey;
  }

  &__input {
    flex-grow: 2;
    margin: 2px 15px 2px;
    border: none;
    font-size: 16px;
    color: Colors.$Dark_Grey;

    &::placeholder {
      color: Colors.$Light_Grey;
    }

    &:focus {
      outline: none;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 9px 9px 0;
    width: 50px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  @media only screen and (max-width: 767px) {
    border: 1px solid Colors.$NEU_Red;
  }
}
