@use 'variables' as Colors;

$TOPNAV_HEIGHT: 60px;
$SIDEBAR_WIDTH: 268px;

.Subscription_Container {
  padding-top: $TOPNAV_HEIGHT;
  display: flex;

  display: flex;
  justify-content: center;

  @media only screen and (max-width: 767px) {
    padding-top: 0;
  }
}

.Subscription_MainWrapper {
  width: 1000px;
  display: flex;
  justify-content: center;
}

.Subscription_Main {
  padding-top: 10px;
  padding-right: 40px;
  padding-left: 40px;
  flex-grow: 1;

  @media only screen and (max-width: 1000px) {
    padding-right: 10px;
    padding-left: 10px;
  }
}
