/*
This file contains global variables for z-indexes, 
meant to be used accross all styles.
*/

//Levels of Z-indexes
$One: 10;
$Two: 20;
$Three: 30;
$Four: 40;
$Five: 50;
$Six: 60;
$Seven: 70;
$Eight: 80;
$Nine: 90;
$Ten: 100;
$Eleven: 110;
$Twelve: 120;
$Thirteen: 130;
$Fourteen: 140;
$Fifteen: 150;
